.p1{
	
}

.body,.banner,.down{
	width:1050px;
	margin:0 auto;
	overflow:hidden;
}
.banner p{
	margin:30px 0 10px 20px;
	font-weight:bold;
	line-height:40px;
	border-bottom:solid 2px gray;
}
.c1{
	float:left;
	margin-left:30px;
	margin-top:15px;
}
.body p{
	text-align:center;
	color:#666;
}
.down{
	width:100%;
	text-align:center;
	border-bottom:2px solid gray;
}

.down p{
	margin: 10px 0;
	font-size:50px;
}