.body_1{
	margin-top:30px;
	background:#2d3237;
}

.body_1 .pac{
	width:100px;
	margin:0 auto;
}
.s1{
	font-weight:bold;
	font-size:24px;
	color:red;
}
.s2{
	font-weight:bold;
	font-size:24px;
	color:white;
}
.line{
	float:left;
	width:440px;
	height:12px;
	border-bottom:1px solid #2d3237;
}
.body_2 .spec{
	float:left;
	width:70px;
	margin:5px 0;
	text-align:center;
	font-weight:bold;
	font-size:12px;
}

.body_3{
	margin-top:10px;
	margin-bottom:50px;
}
.body_3 .p1{
	width:226px;
	margin:5px auto;
}
.body_3 p span{
	font-weight:bold;
}
.body_3 .p2{
	width:480px;
	margin:5px auto;
	font-size:12px;
}
.body_3 .p3{
	width:510px;
	margin:5px auto;
	font-size:12px;
}